<div class="share-page">
    Share this on &rarr;<br>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
        rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" rel="nofollow" target="_blank"
        title="Share on Facebook">Facebook</a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.title }}" rel="nofollow" target="_blank" title="Share on LnkedIn">LinkedIn</a>
</div>