$backgroundColor: #000000;
$bodyColor: #33ff00;

body {
  background: $backgroundColor;
  color: $bodyColor;
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  font-family: 'Roboto',
  sans-serif;

}

p, li {
  color:#DDF0FF;
  text-align: justify;
}

td {
  color:#DDF0FF;
}
tr {
  border-bottom: 2px dotted #33ff00;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.07em;
  font-family: Monaco,
    "Bitstream Vera Sans Mono",
    "Lucida Console",
    Terminal,
    monospace;
}

pre code {
  background-color: #012456;
  color: white;
  display: block;
  padding: 10px;
  }



/* the div class="container" is to set that size of the main part of the site 
  It's set in the header, body and footer*/
.container {
  background-color: #222222;
  margin-left:10%;
  margin-right:10%;
  padding: 5px 25px 5px 25px;
}

.container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.container
  th,
  td,
  tr {
    border-collapse: collapse;
    vertical-align: top;
    border-bottom: 0.5px dotted #33ff00;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    text-align: left;
  }

.line {
  margin: 2px 0;
  height: 20px;
  background:
    repeating-linear-gradient(to right, #33ff00 0, #33ff00 10px, transparent 10px, transparent 12px) bottom;
  background-size: 100% 2px;
  background-repeat: no-repeat;
}

.links {
      th,
      td,
      tr {
        border-collapse: collapse;
        vertical-align: top;
        border-top: 1px dotted #33ff00;
        border-bottom: 0px;
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;   
        width: 30%;
      }
}

/*Formatting for quotes in posts and pages*/
blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote p {
  display: inline;
}

/* Header specific css */
.header a {
  background-color: #DDF0FF;
  color: #223127;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.header a:hover {
  color: #DBBBF5;
  text-decoration: none;
}

.header a:active {
  color: #9C0D38;
  text-decoration: none;
}

/* Font and links for the whole site */
a {
  color:#59C9A5;
  text-decoration: none;
}
a:hover {
  color: #DBBBF5;
  text-decoration: none;
}

a:active {
  color: #9C0D38;
  text-decoration: none;
}
