<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    
    <!-- Google analytics information in _includes/analytics.html -->
    {% include analytics.html %}
  </head>

<!-- the following div class is to add the green dotted line -->
<div class="line"></div>

  <header>
    <div class="container">
      <div class="header">
          <h1>{{ site.title }}</h1>
        <h2>
          {{ site.description }}
        </h2>
            {% include navigation.html %}
      </div>
    </div>
  </header>

<div class="line"></div>

  <body>
    <div class="container">
      {{ content }}
    </div>
  </body>
  
<!-- a dotted line and then we have the footer -->
  <div class="line"></div>
  <footer>
    <div class="container">
      {% include footer.html %}
    </div>
  </footer>
    
</html>
