<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    
    <!-- Google analytics information in _includes/analytics.html -->
    {% include analytics.html %}
  </head>

  <header>
    <div class="container">
      <div class="header">
        <img src="{{site.baseurl}}/assets/imgs/fancy4n6-header.png"></img>
            {% include navigation.html %}
      </div>
      <div class="divider-line"></div>
    </div>
  </header>

  <body>
    <div class="container">
      {{ content }}
    </div>
  </body>
  

  <footer>
    <div class="container">
      {% include footer.html %}
    </div>
  </footer>
    
</html>
